<div id="sidebar">
    <div class="row">
        <div class="small-12 columns cutaway text-center">
            <h6>Presentación</h6>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <br>
            <p>Web del grupo claustral de  profesorado "<strong>Programa para una  Universidad Canaria</strong>", de la  <a href="http://www.ull.es/">Universidad de La Laguna</a></p>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns cutaway text-center">
            <h6>Novedades</h6>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <br>
            {% include news.html %}
            <br>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns cutaway text-center">
            <p>La educación es nuestro pasaporte al futuro, porque el mañana pertenece a aquellos que se preparan para él hoy</p>
            <p>Malcolm X</p>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns text-center">
            <br>
            <a href="mailto:programa@ull.es?subject=Desde la web">
                <img src="{{ site.baseurl }}img/mailto.png" alt="mailto">
            </a>
        </div>
    </div>
</div>
