body{
    background-color: $main_color_shadeB;
}

#header-wrapper, #main-wrapper {
    background-color: $content_background_color;
    border-size: 1px;
    border-style: solid;
    border-color: $main_color_shadeA;
}
#header-wrapper { border-bottom-style: none; }
#main-wrapper { border-top-style: none; }

#content-wrapper {
    h1, h2, h3, h4, h5 {
        color: $tertiary_color;
    }
    h2, h3 {
        border-bottom-color: $secondary_color;
    }
}

#menu-wrapper {
    .title-bar{
        background-color: transparent;
        color: $main_color;
        .menu-icon{
            &:after {
                background-color: $main_color;
                box-shadow: 0 7px 0 $main_color, 0 14px 0 $main_color;
            }
            &:hover{
                &:after {
                    background-color: $main_color_contrast;
                    box-shadow: 0 7px 0 $main_color_contrast, 0 14px 0 $main_color_contrast;
                }
            }
        }
    }
    #main-menu {
        background-color: transparent;
        ul {
            background-color: transparent;
        }
    }
}

#footer-wrapper {
    background-color: $tertiary_color;
    a {
        color: $tertiary_color_contrast;
    }
    color: $tertiary_color_contrast;
    border-top: 2px solid $tertiary_color_shadeB;
}
