#header-wrapper{
    position: relative;
    > div{
        &:first-child {
            padding: 0 0.5em;
            > div{
                img {
                    max-height: 100%;
                    width: auto;
                }
                &:first-child {
                    padding-bottom: 0.5em;
                }
            }
        }
        &:last-child {
            bottom: 1em;
            left:0;
            right:0;
            padding: 0.5em 0;
            width:100%;
        }
    }
}

#menu-wrapper {
    > div{
        &:first-child {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

#content-wrapper {
    padding:2em;
}

#sidebar {
    .row:first-of-type {
        margin-top: 0.5em;
        padding-top: 0;
        padding-bottom: 0;
    }
}

#main-wrapper{
    overflow: hidden;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 1em;
    > div {
        > .row {
            margin-left: 0.5em;
            margin-right: 0.5em;
        }
    }
    > .columns:nth-of-type(2) {
        min-height: 60em;
        p {
            padding: 0 2em;
        }
    }
}

#footer-wrapper {
    padding: 0.5em 0;
    white-space: nowrap;
}
